<div class="container">
  <!-- <div class="row" >
    <div class="col-xs-12">
      <div class="flex-shrink-0 p-3 bg-white" style="width: 140px;">
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#Category-collapse" aria-expanded="false">
              Category
            </button>
            <div class="collapse" id="Category-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded" (click)="OnMobile()">Mobile</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded" (click)="OnCategory($event,value)">Laptop</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">HeadSet</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">PC</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
        <!-- <div class="container">
        <img [src]="img" alt="my dog" style="margin: 15px;" width="300px" height="200px">
      </div> -->
    <!-- </div>

  </div> -->
  <!-- <div class="row">
    <div class="col-xs-12">
      <form action="#">
        <label for="Cat">Category</label>
        <select name="languages" id="lang">
          <option value="mobile">Mobile</option>
          <option value="laptop">Laptop</option>
        </select>
        <input type="submit" value="Submit" (click)="OnCategory($event)"/>
      </form>
    </div>
  </div>  -->

  <div class="row">
    <div class="col-xs-12">
      <select [(ngModel)]="selectedOption" (change)="OnCategory()" style="margin: 10px;">
        <option *ngFor="let o of options">
           {{o.name}}
        </option>
     </select>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>No.</th>
              <th>Name</th>
              <th>Image</th>
              <th>Av.Quantity</th>
              <th>Price</th>
              <th>Count</th>
              <th>Buy</th>
            </tr>
          </thead>
          <tbody *ngIf="res">
            <!-- <div *ngIf="res"> -->
              <tr *ngFor="let prod of res">
                <td *ngIf="prod.CategoryID === product"> {{ prod.id }} </td>
                <td *ngIf="prod.CategoryID === product"> {{ prod.Name }} </td>
                <td *ngIf="prod.CategoryID === product"> <img [src]="prod.img" style="margin: 10px;" width="75px" height="100px"> </td>
                <td *ngIf="prod.CategoryID === product">
                  <div *ngIf="prod.qty == 0">
                    <p>
                      Out of Stock
                    </p>
                  </div>
                  <div *ngIf="prod.qty == 1">
                    <p>
                      Only one in Stock
                    </p>
                  </div>
                  <div *ngIf="prod.qty >= 2">
                    {{ prod.qty }}
                  </div>
                </td>
                <!-- <img src="../../../assets/s10.jpg"> -->
                <td *ngIf="prod.CategoryID === product"> {{ prod.Price }} </td>
                <td *ngIf="prod.CategoryID === product"> <input type="number" id= "{{prod.id}}" min="0"> </td>
                <td *ngIf="prod.CategoryID === product"> <button class="btn btn-secondary" (click)="OnNewBuy(prod.Price,prod.id,prod.qty)"> Buy </button> </td>
              </tr>
            <!-- </div> -->

          </tbody>
        </table>
        <p>Total Price : {{ total }} </p>
     </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Image</th>
            <th>Av.Quantity</th>
            <th>Price</th>
            <th>Count</th>
            <th>Buy</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let prod of products">
            <td *ngIf="prod.product.CategoryID === product"> {{ prod.product.id }} </td>
            <td *ngIf="prod.product.CategoryID === product"> {{ prod.product.Name }} </td>
            <td *ngIf="prod.product.CategoryID === product"> <img [src]="prod.product.img" style="margin: 10px;" width="200px" height="200px"> </td>
            <td *ngIf="prod.product.CategoryID === product">
              <div *ngIf="prod.product.qty == 0">
                <p>
                  Out of Stock
                </p>
              </div>
              <div *ngIf="prod.product.qty == 1">
                <p>
                  Only one in Stock
                </p>
              </div>
              <div *ngIf="prod.product.qty >= 2">
                {{ prod.product.qty }}
              </div>
            </td>
            <td *ngIf="prod.product.CategoryID === product"> {{ prod.product.Price }} </td>
            <td *ngIf="prod.product.CategoryID === product"> <input type="number" [(ngModel)]="prod.count" min="0"> </td>
            <td *ngIf="prod.product.CategoryID === product"> <button class="btn btn-secondary" (click)="OnBuy(prod.product.id)"> Buy </button> </td>
          </tr>
        </tbody>
      </table>
      <p>Total Price : {{ total }} </p>
    </div>
  </div> -->
</div>
